<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="height=device-height, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style2.css">
    <title>PET CARE</title>
  </head>
  <body>
    <div id="myNav" class="overlay">
  <a style="cursor:pointer" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
  <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    <a href="#">Veternarian Appointment</a>
    <a class="btn btn-dark btn-lg" href="/about" role="button">AboutUs</a>
    <!-- <a href="#">Product</a> -->
      <a class="btn btn-dark btn-lg" href="/product" role="button">Product</a>
    <!-- <a href="about.html">About Us</a> -->
    <a class="btn btn-dark btn-lg" href="/ngo" role="button">NGO</a>
    <!-- <a href="ngo.html">NGO</a> -->
    <a class="btn btn-dark btn-lg" href="/contact" role="button">Contact</a>
    <!-- <a href="contact.html">Contact</a> -->
  </div>
</div>
<div class="" style="font-size:100px ; position:absolute; top:300px;left:200px">
  Our Products
</div>
    <div class="wall wall-1">
    <nav>
      <div class="menu"><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span></div>
      <a href="index.html"class="icon"><img style="height: 100%;"src="img/logo.png" alt=""> </a>
    </nav>


    </div>
    <br> <br>  <br>

    <div style="border: none; margin-top: 1%; height: 380px; border-radius: 29px; display: flex; flex-direction: row; justify-content: space-evenly;">
        <div style="border: none; width:240px; height:350px; b  border-radius:30px; margin-top:15px;background-image: linear-gradient( #ba583a,#12151d); filter: drop-shadow(#4f4f4f 4px 3.5px 12.8px);">
            <img src="img/1.webp" alt="" class="textbook_img" style="width:240px;height:350px">
            <br>
            <!-- <p class="img_para">BASIC E E</p>
           <p class="author_name">S Chand</p> -->

        </div>
        <div style="border: none; width:240px; height:350px; border-radius:30px; margin-top:15px;background-image: linear-gradient( #4C6793,#5C2E7E); filter: drop-shadow(#4f4f4f 4px 3.5px 12.8px);">
            <img src="img/2.webp" alt="" class="textbook_img"style="width:240px;height:350px">
            <br>
            <!-- <p class="img_para">NETWORK ANALYSIS</p>
            <p class="author_name">Van Valkenberg</p> -->

        </div>
        <div style="border: none; width:240px; height:350px; border-radius:30px; margin-top:15px;background-image: linear-gradient( #570A57,#1A4D2E); filter: drop-shadow(#4f4f4f 4px 3.5px 12.8px);">
            <img src="img/3.webp" alt="" class="textbook_img"style="width:240px;height:350px">
            <br>
            <!-- <p class="img_para">ELECTRIC MACHINERY</p>
            <p class="author_name">Stephen D Umans</p> -->

        </div>
        <div style="border: none; width:240px; height:350px; border-radius:30px; margin-top:15px;background-image: linear-gradient( #827397,#06113C); filter: drop-shadow(#4f4f4f 4px 3.5px 12.8px);">
            <img src="img/4.webp" alt="" class="textbook_img" style="width:240px;height:350px">
            <br>
            <!-- <p class="img_para">CIRCUIT ANALYSIS</p>
            <p class="author_name">Mc Graw Hill</p> -->

        </div>
        <div style="border: none; width:240px; height:350px; border-radius:30px; margin-top:15px;background-image: linear-gradient( #CA4E79,#513252); filter: drop-shadow(#4f4f4f 4px 3.5px 12.8px);">
            <img src="img/5.webp" alt="" class="textbook_img"style="width:240px;height:350px">
            <br>
            <!-- <p class="img_para">POWER SYSTEMS</p>
            <p class="author_name">S Chand</p> -->

        </div>


    </div>

    <br> <br> <br>

    <div style="border: none; margin-top: 1%; height: 380px; border-radius: 29px; display: flex; flex-direction: row; justify-content: space-evenly; ">

        <div style="border: none; width:240px; height:350px; border-radius:30px; margin-top:15px; background-image: linear-gradient( #8BBCCC,#000000); filter: drop-shadow(#4f4f4f 4px 3.5px 12.8px);">
            <img src="img/7.webp" alt="" class="textbook_img"style="width:240px;height:350px">
            <br>
            <!-- <p class="img_para">MICROWAVE /ENGINEERING</p>
            <p class="author_name">S Chand</p> -->
        </div>

        <div style="border: none; width:240px; height:350px; border-radius:30px; margin-top:15px;background-image: linear-gradient( #bf9df0,#000000); filter: drop-shadow(#4f4f4f 4px 3.5px 12.8px);">
            <img src="img/8.webp" alt="" class="textbook_img" style="width:240px;height:350px">
            <br>
            <!-- <p class="img_para">FUNDAMENTALS OF EEE</p>
            <p class="author_name">S Chand</p> -->

        </div>
        <div style="border: none; width:240px; height:350px; border-radius:30px; margin-top:15px;background-image: linear-gradient( #a76e67,#191919); filter: drop-shadow(#4f4f4f 4px 3.5px 12.8px);">
            <img src="img/15.webp" alt="" class="textbook_img"style="width:240px;height:350px">
            <br>
            <!-- <p class="img_para">HIGH VOLTAGE Engn.</p>
            <p class="author_name">C L Wadhwa</p> -->

        </div>
        <div style="border: none; width:240px; height:350px; border-radius:30px; margin-top:15px;background-image: linear-gradient( #9A0680,#160040); filter: drop-shadow(#4f4f4f 4px 3.5px 12.8px);">
            <img src="img/10.webp" alt="" class="textbook_img"style="width:240px;height:350px">
            <br>
            <!-- <p class="img_para">CIRCUIT THEORY</p>
            <p class="author_name">A Chakrabarti</p> -->

        </div>
        <div style="border: none; width:240px; height:350px; border-radius:30px; margin-top:15px;background-image: linear-gradient( #87556F,#4B5D67); filter: drop-shadow(#4f4f4f 4px 3.5px 12.8px);">
            <img src="img/2.webp" alt="" class="textbook_img"style="width:240px;height:350px">
            <br>
            <!-- <p class="img_para">ELECTRIC MACHINERY</p>
            <p class="author_name">Mc Graw Hill</p> -->

        </div>


    </div>

    <br> <br> <br>



    <div style="border:none; margin-top: 1%; height: 380px; border-radius: 29px; display: flex; flex-direction: row; justify-content: space-evenly;">
        <div style="border: none; width:240px; height:350px; border-radius:30px; margin-top:15px;background-image: linear-gradient( #4D375D,#121013); filter: drop-shadow(#4f4f4f 4px 3.5px 12.8px);">
            <img src="img/12.webp" alt="" class="textbook_img"style="width:240px;height:350px">
            <br>
            <!-- <p class="img_para">KARNALI BLUES</p>
            <p class="author_name"> Michael Hutt</p> -->

        </div>
        <div style="border: none; width:240px; height:350px; border-radius:30px; margin-top:15px;background-image: linear-gradient( #87556F,#4B5D67); filter: drop-shadow(#4f4f4f 4px 3.5px 12.8px);">
            <img src="img/12.webp" alt="" class="textbook_img"style="width:240px;height:350px">
            <br>
            <!-- <p class="img_para">THE  LORD OF RINGS</p>
            <p class="author_name"> J R R Tolkien</p> -->

        </div>
        <div style="border: none; width:240px; height:350px; border-radius:30px; margin-top:15px;background-image: linear-gradient( #93235d,#074668); filter: drop-shadow(#4f4f4f 4px 3.5px 12.8px);">
            <img src="img/13.webp" alt="" class="textbook_img"style="width:240px;height:350px">
            <br>
            <!-- <p class="img_para">HARRY POTTER (TCOS)</p>
            <p class="author_name">J K Rowling</p> -->

        </div>
        <div style="border: none; width:240px; height:350px; border-radius:30px; margin-top:15px;background-image: linear-gradient( #583b6b,#0b3145); filter: drop-shadow(#4f4f4f 4px 3.5px 12.8px);">
            <img src="img/14.webp" alt="" class="textbook_img"style="width:240px;height:350px">
            <br>
            <!-- <p class="img_para">BY THE BOOK</p>
            <p class="author_name">Jasmine Guillory</p> -->

        </div>
        <div style="border: none; width:240px; height:350px; border-radius:30px; margin-top:15px;background-image: linear-gradient( #050656,#233641); filter: drop-shadow(#4f4f4f 4px 3.5px 12.8px);">
            <img src="img/15.webp" alt="" class="textbook_img"style="width:240px;height:350px">
            <br>
            <!-- <p class="img_para">THE DA VINCI CODE</p>
            <p class="author_name"> Dan Brown</p> -->

        </div>


    </div>





    <footer>
        <div class="footer-content">
         <h3 style="color:white"> sample</h3>
         <p style="color:white"> sample text</p>
         <ul class="socials">
           <li><a href="#"><i class="fa fa-facebook"></i></a></li>
           <li><a href="#"><i class="fa fa-twitter"></i></a></li>
           <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
           <li><a href="#"><i class="fa fa-youtube"></i></a></li>
           <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
        </div>
        <div class="footer-bootom">
           <p class="ss"style="color:white">copyright &copy;2021 <a href="#"style="color:white">sample</a> </p>
         </div>
    </footer>

    <script>
     function openNav() {
       document.getElementById("myNav").style.width = "20%";
       document.getElementById("myNav").style.transition = "all 1s";
       document.body.style.backgroundColor = "rgba(0,0,100,0.5)";

     }
     function closeNav() {
       document.getElementById("myNav").style.width = "0%";
       document.body.style.backgroundColor = "rgba(179, 197, 223,.4)";
     }

     let slideIndex = 0;
              showSlides();
              function showSlides() {
                let i;
                let slides = document.getElementsByClassName("mySlides");
                let dots = document.getElementsByClassName("dot");
                for (i = 0; i < slides.length; i++) {
                  slides[i].style.display = "none";
                }
                slideIndex++;
                if (slideIndex > slides.length) {slideIndex = 1}
                for (i = 0; i < dots.length; i++) {
                  dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex-1].style.display = "block";
                dots[slideIndex-1].className += " active";
                setTimeout(showSlides, 2000); // Change image every 2 seconds
              }

              const observer = new IntersectionObserver((entries) =>{
                entries.forEach((entry)=> {
                  console.log(entry);
                  if(entry.isIntersecting){
                    entry.target.classList.add('show');
                  }else{
                    entry.target.classList.remove('show');
                  }
                });
              });

              const hiddenElements = document.querySelectorAll('.hidden');
              const topHiddenElements = document.querySelectorAll('.topHidden');

              hiddenElements.forEach((el) => observer.observe(el));
              topHiddenElements.forEach((el) => observer.observe(el));

    </script>
    </body>
    </html>
