<!-- <%- include("header") -%> -->
<style media="screen">
  .row{
    display:flex;
    justify-content:space-around;
    height:70px;
  }
</style>
  <form class="" action="/" method="post">
    <div class="row">
      <div class="">
        <label>ID</label>
        <input type="text" name="" value="">
      </div>
      <div class="">
        <label>Name</label>
        <input type="text" name="" value=""></div>
    </div>
    <div class="row">
      <div class="">
        <label>Disease</label>
        <input type="text" name="" value=""></div>
      <div class="">
        <label>species</label>
        <input type="text" name="" value=""></div>
    </div>
  <input type="radio" name="appoint" value="1">svdvc <br>
  <input type="radio" name="appoint" value="2">acd<br>
  <input type="radio" name="appoint" value="3">F<br>
  <input type="submit" name="" value="">submit
</form>





  <!-- <%- include("footer") -%> -->
